@import url("https://fonts.googleapis.com/css2?family=Space+Mono:wght@700&display=swap");
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  background-color: hsl(185deg, 41%, 84%);
  font-size: 24px;
  font-family: "Space Mono", monospace;
}

.main {
  margin: 25px 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
@media (min-width: 950px) {
  .main {
    margin: 100px 0px;
  }
}
.main__title {
  width: 100px;
  text-align: center;
  margin-bottom: 30px;
}
.main__title-text {
  word-wrap: break-word;
  color: hsl(183deg, 100%, 15%);
  letter-spacing: 8px;
  text-transform: uppercase;
  font-weight: 700;
}
.main__content {
  background-color: #fff;
  width: 100%;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 25px 30px;
}
@media (min-width: 950px) {
  .main__content {
    width: 920px;
    height: 490px;
    flex-direction: row;
    column-gap: 40px;
  }
}
.main__content-input {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: relative;
}
.main__content-input__label {
  font-size: 17px;
  color: hsl(183deg, 100%, 15%);
  margin-bottom: 5px;
}
.main__content-input__label-error {
  font-size: 17px;
  color: red;
  position: absolute;
  top: 0;
  right: 0;
  display: none;
}
.main__content-input__field {
  position: relative;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .main__content-input__field {
    margin-bottom: 40px;
  }
}
.main__content-input__field-input {
  outline: none;
  border: none;
  background-color: hsl(189deg, 41%, 97%);
  width: 100%;
  height: 50px;
  padding: 0px 15px;
  text-align: right;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  transition: 0.1s border;
}
.main__content-input__field-input:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
}
.main__content-input__field-input.error {
  border: 2px solid red;
}
.main__content-input__field-dollar, .main__content-input__field-user {
  position: absolute;
  left: 15px;
  font-size: 28px;
  opacity: 0.4;
  color: hsl(183deg, 100%, 15%);
  top: 5px;
}
.main__content-input__field-user {
  top: 13px;
}
.main__content-select {
  width: 100%;
  margin-bottom: 30px;
}
@media (min-width: 950px) {
  .main__content-select {
    margin-bottom: 40px;
  }
}
.main__content-select__title {
  font-size: 17px;
  color: hsl(183deg, 100%, 15%);
  margin-bottom: 10px;
}
.main__content-select__options {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 15px;
  margin-top: 10px;
}
.main__content-select__options-btn {
  width: 48%;
  height: 50px;
  border: none;
  outline: none;
  background-color: hsl(183deg, 100%, 15%);
  cursor: pointer;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  border-radius: 10px;
  color: #fff;
  transition: 0.3s all;
}
@media (min-width: 950px) {
  .main__content-select__options-btn {
    width: 135px;
  }
}
.main__content-select__options-btn.active {
  color: hsl(183deg, 100%, 15%);
  background-color: hsl(172deg, 67%, 45%);
}
.main__content-select__options-btn--custom {
  background-color: hsl(185deg, 41%, 84%);
  color: hsl(183deg, 100%, 15%);
  padding: 0px 10px;
  text-align: center;
  transition: 0.1s border;
}
.main__content-select__options-btn--custom:focus {
  border: 2px solid hsl(172deg, 67%, 45%);
  text-align: right;
}
.main__content-result {
  width: 100%;
  background-color: hsl(183deg, 100%, 15%);
  border-radius: 10px;
  padding: 30px 20px 20px 20px;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 10px;
}
@media (min-width: 950px) {
  .main__content-result {
    height: 417px;
    width: 85%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
  }
}
.main__content-result__sections {
  width: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  row-gap: 10px;
}
.main__content-result__section {
  display: flex;
  width: 100%;
  justify-content: space-between;
  align-items: center;
}
.main__content-result__section-left {
  display: flex;
  flex-direction: column;
}
.main__content-result__section-left__title {
  font-size: 17px;
}
.main__content-result__section-left__condition {
  font-size: 14px;
  color: hsl(184deg, 14%, 56%);
}
.main__content-result__section-right__price {
  color: hsl(172deg, 67%, 45%);
  font-size: 28px;
}
@media (min-width: 950px) {
  .main__content-result__section-right__price {
    font-size: 48px;
  }
}
.main__content-result__button {
  width: 100%;
  border: none;
  outline: none;
  background-color: hsl(172deg, 67%, 45%);
  color: hsl(183deg, 100%, 15%);
  cursor: pointer;
  height: 50px;
  font-family: "Space Mono", monospace;
  font-size: 24px;
  text-transform: uppercase;
  border-radius: 10px;
}

/*# sourceMappingURL=styles.css.map */
